.footer {
    background-color: #FFFFFF;
    height: auto;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}

.footer__nav {
    display: flex;
    flex-direction: row;
}

.footer__logo {
    width: 128px;
    height: 128px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.footer__nav {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #161616;
    text-transform: uppercase;
    text-decoration: none;
    gap: 50px;
}

.footer__nav__menu-link {
    text-decoration: none;
    color: #161616;
}

.footer__address {
    font-family: Gotham;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #161616CC;
    margin-top: 20px;
    margin-bottom: 0px;
}

.footer__time {
    font-family: Gotham;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #161616CC;
    text-transform: uppercase;
}

.footer__nav__telephone-container {
    position: relative;
    z-index: 2;
    margin-top: 45px;
    padding-left: 270px;
    padding-right: 270px;
    border: 2px solid #161616;
    border-radius: 86px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #161616;
}

.footer__telephone__number {
    font-family: Gilroy;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;    
    color: #FADAAB;
    text-decoration: none;
}

.public__ofert {
    margin-top: 62px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #16161699;
    text-transform: uppercase;
    margin-bottom: 0px;

}

.conf_polit {
    margin-top: 15px;
    font-family: Gotham;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #16161699;
    text-transform: uppercase;
}

.footer__dev {
    font-family: Gotham;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #16161699;
    text-transform: uppercase;
    margin-top: 45px;
}

.footer__tomates {
    position: absolute;
    left: 0;
    z-index: 1;
}

.footer__onion {
    position: absolute;
    bottom: 0;
    left: 170px;
    z-index: 1;
}

.footer__luchock {
    position: absolute;
    right: 0;
    z-index: 1;
}

.footer__perchick {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media (max-width: 376px) {
    .footer__logo {
        width: 91px;
        height: 91px;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    .footer__nav {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        gap: 16px;
    }
    .footer__nav p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer__address {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em; 
        width: 260px;   
    }
    .footer__time {
        margin-top: 3px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
    }
    .footer__nav__telephone-container {
        margin-top: 30px;
        width: 325px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;

    }
    .footer__telephone__number {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .public__ofert {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
    }
    .conf_polit {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footer__dev {
        margin-top: 40px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .footer__tomates {
        transform: scale(0.5);
        left: -106px;
        top: -215px;
    }

    .footer__luchock {
        transform: scale(-0.65, 0.65);
        bottom: 90px;
        left: -160px;
    }
    .footer__onion {
        transform: scale(0.5);
        top: 190px;
        right: 0px;
    }
    .footer__perchick {
        transform: scale(0.45);
        bottom: -85px;
        right: -80px;
    }

    .footer {
        overflow: hidden;
    }
}   

@media (376px < width < 769px) {
    .footer__logo {
        width: 91px;
        height: 91px;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    .footer__nav {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        gap: 16px;
    }
    .footer__nav p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer__address {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em; 
        width: 260px;   
    }
    .footer__time {
        margin-top: 3px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
    }
    .footer__nav__telephone-container {
        margin-top: 30px;
        width: 325px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;

    }
    .footer__telephone__number {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .public__ofert {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
    }
    .conf_polit {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footer__dev {
        margin-top: 40px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .footer__tomates {
        transform: scale(0.5);
        left: -106px;
        top: -215px;
    }

    .footer__luchock {
        transform: scale(-0.65, 0.65);
        bottom: 90px;
        left: -160px;
    }
    .footer__onion {
        transform: scale(0.5);
        top: 190px;
        right: 0px;
    }
    .footer__perchick {
        transform: scale(0.45);
        bottom: -85px;
        right: -80px;
    }

    .footer {
        overflow: hidden;
    }
}   

@media (769px < width < 1025px) {
    .footer__logo {
        width: 91px;
        height: 91px;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    .footer__nav {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        gap: 16px;
    }
    .footer__nav p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer__address {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em; 
        width: 260px;   
    }
    .footer__time {
        margin-top: 3px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
    }
    .footer__nav__telephone-container {
        margin-top: 30px;
        width: 325px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;

    }
    .footer__telephone__number {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .public__ofert {
        margin-top: 40px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
    }
    .conf_polit {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footer__dev {
        margin-top: 40px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .footer__tomates {
        transform: scale(0.5);
        left: -106px;
        top: -215px;
    }

    .footer__luchock {
        transform: scale(-0.65, 0.65);
        bottom: 90px;
        left: -160px;
    }
    .footer__onion {
        transform: scale(0.5);
        top: 190px;
        right: 0px;
    }
    .footer__perchick {
        transform: scale(0.45);
        bottom: -85px;
        right: -80px;
    }

    .footer {
        overflow: hidden;
    }
}   